<%= render "layouts/menu" %>

<h1>Home USER</h1>


<div class="cotainer-fluid">
   <div class="col-xs-12">
       <div class="panel panel-default">
         <div class="panel-body">
           <div class="row">
               

               <div class="col-xs-2 col-md-2">
                Ingresar Codigo
                 <a href= "/registercode" class="thumbnail">
                   <img src="/assets/newcode.jpg" alt="Clientes" class="small-pic-size">
                 </a>        
               </div>

               <div class="col-xs-2 col-md-2">
               Perfil de Usuario
                 <a href="/user" class="thumbnail">
                   <img src="/assets/users.png" alt="CursoPromotor"  class="small-pic-size">
                 </a>        
               </div>

               <div class="col-xs-2 col-md-2">
               Codigos Ingresados 
                 <a href="/registeredcodes" class="thumbnail">
                   <img src="/assets/codes.png" alt="Vacaciones"  class="small-pic-size">
                 </a>        
               </div>

               <div class="col-xs-2 col-md-2">
               Puntos Acumulados
                 <a href="#" class="thumbnail">
                   <img src="/assets/points.png" alt="CursoPromotor"  class="small-pic-size">
                 </a>        
               </div>

               <div class="col-xs-2 col-md-2">
               Otro
                 <a href="#" class="thumbnail">
                   <!-- <img src="/assets/adjustments.png" alt="CursoPromotor"  class="small-pic-size"> -->
                 </a>        
               </div>

           </div> <!-- Closes 1st row -->
       
           <div class="row">
               <div class="col-xs-2 col-md-2">
               Ranking 
                 <a href="/cursovence" class="thumbnail">
                   <img src="/assets/ranking.png" alt="cursos" class="small-pic-size">
                 </a>
               </div>

               <div class="col-xs-2 col-md-2">
               Ganadores
                 <a href="credencialvence" class="thumbnail">
                   <img src="/assets/winner.jpg" alt="Credenciales"  class="small-pic-size">
                 </a>
               </div>

               <div class="col-xs-2 col-md-2">
               Compartir
                 <a href="/retirados" class="thumbnail">
                   <img src="/assets/share.png" alt="Retirados"  class="small-pic-size">
                 </a>
               </div>

               <div class="col-xs-2 col-md-2">
               Ayuda
                 <a href="/retirados" class="thumbnail">
                   <img src="/assets/help.png" alt="Retirados"  class="small-pic-size">
                 </a>
               </div>

               
           </div> <!-- Closes 2nd row -->
         </div>
       </div>  
     </div> <!-- Closes 1st Column -->

       



</div>




