
<p>Find me in app/views/home/index.html.erb</p>


<h2>Welcome to Kontest</h2>

<%= link_to "Kontests", kontests_path, :class => "btn btn-default" %>
<%= link_to "Clientes", kontests_path, :class => "btn btn-default" %>